section#topic-panel md-content.default-theme {
  font-size: 1.4rem;
  background: inherit;
  min-height: 300px;
}
section#topic-panel md-content .head {
  word-break: break-all;
}
section#topic-panel md-content .body div.image-container {
  min-height: 100px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
section#topic-panel md-content .body div.image-container img {
  max-height: 60%;
  max-width: 100%;
}
section#topic-panel md-content .body div.image-container section {
  cursor: pointer;
  display: block;
  line-height: 250px;
  text-align: center;
  border-style: dashed;
}
section#topic-panel md-content .body div.options {
  position: relative;
  min-height: 120px;
}
section#topic-panel md-content .body div.options ul {
  list-style: none;
  min-width: 150px;
  padding-left: 20px;
}
section#topic-panel md-content .body div.options ul li {
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  line-height: 30px;
  cursor: pointer;
}
section#topic-panel md-content .body div.options ul li:hover,
section#topic-panel md-content .body div.options ul li.actived {
  background: #777;
  color: #fff;
}
section#topic-panel md-content .body div.options ul li:hover.passive,
section#topic-panel md-content .body div.options ul li.actived.passive {
  border: 1px solid #075e3;
  color: #075e3;
  background-color: #fff;
}
section#topic-panel md-content .body div.options .panel-cover {
  font-weight: bold;
}
section#topic-panel md-content .body div.options .panel-cover md-icon {
  font-size: 112px;
}
@media (max-width: 768px) {
  section#topic-panel md-content .body div.options .panel-cover md-icon {
    font-size: 56px;
  }
}
section#topic-panel md-content .body div.options .panel-cover md-icon.incorrect {
  color: red;
}
section#topic-panel md-content .body div.options .panel-cover md-icon.correct {
  color: green;
}
section#topic-panel md-content .foot {
  text-align: center;
}
