@import (reference) "common";

section#topic-panel {
  //

  md-content {
    &.default-theme {
      font-size: 1.4rem;
      background: inherit;
      min-height: 300px;
    }
    .head {
      word-break: break-all;
    }
    .body {
      div.image-container {
        min-height: 100px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 60%;
          max-width: 100%;
        }
        section {
          cursor: pointer;
          display: block;
          line-height: 250px;
          text-align: center;
          border-style: dashed;
        }
      }
      div.options {
        position: relative;
        min-height: 120px;
        ul {
          list-style: none;
          min-width: 150px;
          padding-left: 20px;
          li {
            padding: 0 8px;
            position: relative;
            text-decoration: none;
            line-height: 30px;
            cursor: pointer;
            &:hover, &.actived {
              background: #777;
              color: #fff;
              &.passive {
                border: 1px solid #075e3;
                color: #075e3;
                background-color: #fff;
              }
            }

          }

        }
        .panel-cover {

          font-weight: bold;

          md-icon{
            @media (max-width: 768px) {
              font-size: 56px;
            }
            font-size: 112px;
            &.incorrect {
              color: red;
            }

            &.correct {
              color: green;
            }
          }

        }
      }

      //.tip {
      //  position: absolute;
      //  left: 20px;
      //  z-index: 100;
      //  background: #f88d00;
      //  color: #fff;
      //  padding: 2px 10px;
      //  border-radius: 5px;
      //  .fa {
      //    margin-right: 5px;
      //  }
      //  &.ng-hide-remove {
      //    .animation-duration(.3s);
      //    .fadeInLeft;
      //  }
      //}


    }

    .foot {
      text-align: center;
    }

  }

}
