@keyframes message-receive {
  from {
    opacity: 0;
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
section#room-message {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}
section#room-message md-content {
  padding: 8px;
}
section#room-message div.message > .system {
  color: red;
}
section#room-message > md-input-container {
  margin: 0;
  padding-bottom: 0;
}
section#room-message > md-input-container .md-errors-spacer {
  min-height: 0;
}
