@import (reference) "common";

section#userchat-page {

  height: 100%;
  > md-content {
    height: calc(~"100% - 50px - 60px");
    background: @borderColor;
    div.message{
      md-content{
        margin-left: 39%;
        padding: 8px;
        max-width: 61%;
        word-wrap: break-word;
      }

      &.user-message > md-content{
        margin-left: 0;
      }
    }
  }
  md-input-container {
    background: @borderColor;
    height: 30px;
    margin: 0;
    border-top: 1px solid rgba(158, 158, 158, 0.2);
    md-icon {
      left: 6px;
      top: 6px;
    }
    input{
      border-bottom: none;
    }
  }
}
