<section id="topiccommit-page" class="row"  layout="column" layout-gt-sm="row">
  <topic-preview image="imageEnabled" topic="topic" flex></topic-preview>
  <md-content flex layout-padding>
    <form name="topicForm" novalidate>
      <md-input-container class="md-block">
        <label>题目</label>
        <input md-maxlength="20" required name="title" ng-model="topic.title"/>
        <div ng-messages="topicForm.title.$error" >
          <div ng-message="required">请填写标题.</div>
          <div ng-message="md-maxlength">不要超过80个字.</div>
        </div>
      </md-input-container>

      <div class="topic-options" ng-repeat="opt in topic.options" layout>
        <md-input-container class="md-block" flex>
          <label>选项 {{opt.title}}:</label>
          <input md-maxlength="20" required name="opt{{opt.title}}" ng-model="opt.value">
        </md-input-container>

        <div flex="50" flex-gt-xs="25" layout-align="start center" layout>
          <md-button class="md-icon-button" aria-label="删除选项" ng-click="removeOpt(opt)"
                     ng-if="topic.options.length > 2">
            <md-icon>remove_circle</md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary" aria-label="添加选项" ng-if="$last && topic.options.length < 5"
                     ng-click="addOpt()">
            <md-icon>add_circle</md-icon>
          </md-button>
        </div>
      </div>

      <section>
        <md-checkbox ng-model="imageEnabled" ng-click="addImage()" aria-label="观众选项">加入图片</md-checkbox>
      </section>


      <md-input-container class="md-block" flex="50">
        <label>建议分值</label>
        <md-select ng-model="topic.point">
          <md-option ng-repeat="point in points" value="{{point.value}}">
            {{point.label}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex="50" class="md-block">
        <label>正确答案</label>
        <md-select ng-model="topic.corrector" multiple>
          <md-optgroup>
            <md-option ng-value="$index" ng-repeat="opt in topic.options">选项 {{opt.title}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <section layout="row" layout-align="center center">
        <md-button flex="60" class="md-raised md-primary" ng-click="submit()">提交</md-button>
        <md-button flex="40" class="md-raised" ng-click="reset()">重置</md-button>
      </section>


    </form>
  </md-content>
</section>