@import (reference) "common";

@image-container-border-color: #e3e3e3;

section#topiccommit-page {
  position: relative;
  form{
    section{
      padding: 8px;
    }
    div.topic-options{
      &.ng-enter{
        .animated;
        .fadeIn;
      };
    }
  }
  //#topicpreview-page {
  //  position: relative;
    //.image-container {
    //
    //  cursor: pointer;
    //  display: block;
    //  width: 270px;
    //  height: 250px;
    //  line-height: 250px;
    //  font-size: 1.5em;
    //  text-align: center;
    //  border-style: dashed;
    //  position: absolute;
    //  right: 60px;
    //  top: 100px;
    //  border-color: @image-container-border-color;
    //
    //  &.focus {
    //    border-color: #f88d00;
    //  }
    //}
  //}

}
