section#topiccommit-page {
  position: relative;
}
section#topiccommit-page form section {
  padding: 8px;
}
section#topiccommit-page form div.topic-options.ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
