@import (reference) "common";

@image-container-border-color: #e3e3e3;

section#topiccommit-page {
  position: relative;
  form{
    section{
      padding: 8px;
    }
    div.topic-options{
      &.ng-enter{
        .animated;
        .fadeIn;
      };
    }
  }
}
