<section id="room-statistic" ng-if="roomstat.users">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">统计结果</h2>
      </div>
    </md-toolbar>
  <!--<header >-->

  <!--</header>-->

  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>正确</td>
        <td>错误</td>
        <td>超时</td>
        <td>积分</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in roomstat.users" ng-style="{background: '#{{userColors[$index]}}'}">
        <td ng-bind="user.username"></td>
        <td ng-bind="user.correctNum"></td>
        <td ng-bind="user.incorrectNum"></td>
        <td ng-bind="user.timeoutNum"></td>
        <td ng-bind="user.point"></td>
      </tr>
    </tbody>
  </table>
</section>
