<div class="topic-commit row">
    <div class="col-sm-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3">题目:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" ng-model="topic.title" cols="80" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group" ng-repeat="opt in topic.options">
                <label class="col-sm-3">选项 {{opt.title}}:</label>

                <div class="col-sm-6">
                    <input class="form-control" ng-model="opt.value"/>
                </div>
                <div class="col-sm-3">

                    <button class="btn btn-default" ng-click="removeOpt(opt)">
                        <i class="fa fa-minus text-muted" ></i>
                    </button>
                    <button class="btn btn-default" ng-if="$last"  ng-click="addOpt()">
                        <i class="fa fa-plus text-success"></i>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3">建议分值:</label>

                <div class="col-sm-5">
                    <select class="form-control" ng-model="topic.point"
                            ng-options="point.value as point.label for point in points">
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">正确答案:</label>

                <div class="col-sm-5">
                    <select class="form-control" multiple ng-model="topic.corrector">
                        <option value="{{$index}}" ng-repeat="opt in topic.options">选项 {{opt.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" ng-click="submit()">提交</button>
                <button class="btn btn-default" ng-click="reset()">重置</button>
            </div>
        </form>
    </div>
    <div class="col-sm-6 preview" >
        <h4 class="text-center">预览效果</h4>
        <topic-panel topic="topic"></topic-panel>
    </div>

</div>
