@import "common";

@correct-panel-bg-color: #dff0d8;
@incorrect-panel-bg-color: #f2dede;
@timeout-panel-bg-color: #f5f5f5;
@head-user-boder-color: #f88d00;

@keyframes slideInY {
  from {
    .translate3d(0, 0, 1200px);
  }
  to {
    .translate3d(0);
  }
}

#topic-panel {

  section {
    position : relative;
    height   : 300px;

    .bg-frame1;
    .flex(1);

    .perspective(20em);

    &.ng-enter {
      .animated;
      .slideInDown;
    }

    &.ng-leave {
      position : absolute;
      opacity  : 0;
    }
    .head {
      padding       : 30px 0 10px;
      border-bottom : 1px solid @head-user-boder-color;
      margin        : 0 20px;
    }
    .body {
      padding : 10px 20px 0;

      ul.options {

        padding-left : 20px;
        li {
          position : relative;
          .fa-check {
            color    : green;
            position : absolute;
            left     : -20px;
            top      : 7px;
          }
          a {
            text-decoration : none;
            line-height     : 30px;
            .border-radius(5);

            &:hover, &.actived {
              background : #777;
              color      : #fff;
              padding    : 5px 20px;
              &.passive {
                border           : 1px solid #075e3;
                color            : #075e3;
                background-color : #fff;
              }
            }

          }
          span {
            margin-left : 20px;
            &.ng-enter {
              .animated;
              .bounceInRight;
            }
          }

        }

      }
    }

    .panel-cover {

      .animation(slideInY cubic-bezier(.02, 1, 1, 1) .5s forwards);
      .transform(rotate(40deg));
      font-size   : 20px;
      font-weight : bold;
      position    : absolute;
      width       : 150px;
      height      : 50px;
      top         : 50px;
      right       : 10px;

      .border-radius(10px);
      .box-shadow(1px 5px 5px);
    }

    &.incorrect {
      .byUser {
        color            : darken(@incorrect-panel-bg-color, 20%);
      }
      .panel-cover {
        .flex-center;
        background-color : @incorrect-panel-bg-color;
        color            : darken(@incorrect-panel-bg-color, 20%);
        border           : 1px solid darken(@incorrect-panel-bg-color, 20%);
        &:after {
          content : "回答错误."
        }
      }
    }
    &.timeout {
      .panel-cover {
        .flex-center;
        background-color : @timeout-panel-bg-color;
        color            : darken(@timeout-panel-bg-color, 50%);
        border           : 1px solid darken(@timeout-panel-bg-color, 20%);
        &:after {
          content : "回答超时."
        }
      }
    }

    &.correct {
      .byUser {
        color            : darken(@correct-panel-bg-color, 50%);
      }
      .panel-cover {
        .flex-center;
        background-color : @correct-panel-bg-color;
        color            : darken(@correct-panel-bg-color, 50%);
        border           : 1px solid darken(@correct-panel-bg-color, 20%);
        &:after {
          content : "回答正确."
        }
      }
    }
  }

}
