<div class="room-header">
    <div class="user-list">
        <span ng-repeat="user in room.users track by $index" class="user"
              ng-class="{target: verdict && verdict.user.id == user.id, empty: !user}" data-userid="{{user.id}}">
            <div class="head" ng-if="user">
                <i ng-if="room.admin.id ==user.id" class="fa fa-star"></i> {{user.username}}
                <span class="badge" ng-bind="user.point"></span>
            </div>

            <div class="body" ng-if="user">
                <img ng-src="{{user.avatar}}"/>
            </div>

            <div class="status" ng-if="user">
                <div ng-if="room.status==1">
                    <div ng-if="!verdict || (verdict.user && verdict.user.id != user.id)">{{user.gpoint || 0}}分</div>

                    <div ng-if="verdict && verdict.user.id == user.id">
                        <div ng-if="verdict.verdict == 1">
                            <i class="fa fa-smile-o"></i> 回答正确
                        </div>
                        <div ng-if="verdict.verdict == 0">
                            <i class="fa fa-frown-o"></i> 回答错误
                        </div>
                    </div>
                    <div ng-if="verdict && !verdict.user && verdict.verdict == -1" class="bg-info">
                        <i class="fa fa-frown-o"></i> 回答超时
                    </div>
                </div>

                <div ng-if="room.status == 0">{{isReady(user.id)?'已准备': '未准备'}}</div>
            </div>


            <div class="body" ng-if="!user">
                等待加入
            </div>
        </span>
    </div>

    <span class="ctrlbtn">
        <div ng-if="room.admin.id == curr._id">
            <button class="btn btn-success" ng-if="room.status == 0" ng-click="start()" loading-text="处理中">
                开始答题
            </button>
            <button class="btn btn-info" ng-if="room.status == 1" ng-click="terminate()"
                    comfirm="答题终止将不会得到任何积分, 确认是否要终止.">
                答题终止
            </button>
        </div>
        <div ng-if="room.admin.id != curr._id && room.status == 0 && isUser()">
            <button class="btn btn-success" ng-click="ready()" loading-text="处理中"
                    ng-if="!isReady()">
                准备就绪
            </button>
            <button class="btn btn-info" ng-click="unReady()" loading-text="处理中"
                    ng-if="isReady()">
                取消准备
            </button>
        </div>


    </span>
</div>
