div.chat {
    height: 100%;
    flex-direction: column;
    display: flex;
}

div.chat > ul {
    flex: 1;
    overflow-x: hidden;
    padding: 10px 5px 0 10px;
}

div.chat > ul > li {
    display: flex;
}
div.chat li div.message {
    display: flex;
    flex: 1;
}
div.chat li.me div.message {
    justify-content: flex-end;
}
div.chat li.user div.message {
    /*justify-content: space-between;*/
}

div.chat li div.message > p{
    position: relative;
    flex-direction: row;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    word-wrap: break-word;
    max-width: 85%;
}

div.chat li div.message > p:after{
    position: absolute;
    top:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);

}
div.chat li.user div.message > p:after{
    content: "\f0d9";
    position: absolute;
    left:-4px;
    width: 10px;
    height: 17px;
    color: #A7DBD8;
}

div.chat li.user div.message > p{
    background: #A7DBD8;
}


div.chat li.me div.message > p:after{
    right:-9px;
    width: 10px;
    height: 17px;
    content: "\f0da";
    color: #E0E4CC;
}

div.chat li.me div.message > p{
    background: #E0E4CC;
}


div.chat li span.time{
    top: 5px;
    position: relative;
    order: 1;
}
