<div class="chat">
    <ul class="list-unstyled">
        <li ng-repeat="msg in messages" ng-class="{me: curr._id === msg.from._id, user: curr._id !== msg.from._id}">
            <div ng-if="!msg.system" class="message">
                <span class="username" ng-if="curr._id !== msg.from._id && showName">{{::msg.from.username}}</span>

                <p>
                    {{::msg.content}}
                </p>

            </div>
            <!--<span class="time">{{::msg.time|date: 'hh:MM'}}</span>-->

            <div ng-if="msg.system" class="system " ng-bind="::msg.content">
            </div>
        </li>
    </ul>
    <div class="message-input">
        <input type="text" class="form-control" ng-model="messageInput" placeholder="输入内容...">
    </div>

</div>
