<div class="chat">
    <ul class="list-unstyled">
        <li ng-repeat="msg in messages" ng-class="{me: curr.id === msg.from._id, user: curr.id !== msg.from._id}">
            <div ng-if="!msg.system" class="message">
                <span class="username" ng-if="curr.id !== msg.from._id && showName">{{::msg.from.username}}</span>
                <p>
                    {{::msg.content}}
                </p>
            </div>
        </li>
    </ul>
    <div class="message-input">
        <input type="text" class="form-control" ng-model="messageInput" placeholder="输入内容...">
    </div>
</div>
