div.chat {
    position: relative;
    height: 100%;

}

div.chat > ul {
    overflow: auto;
    height: inherit;
    padding: 10px 5px 0 10px;
}
div.chat li div.message {
    position: relative;

    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:2px 5px;
}


div.chat li div.message .head {
    float: left;
    width: 100%;
    margin: 10px 0;
}

div.chat li div.message > p{
    margin: 5px;
    min-height: 18px;
    word-wrap: break-word;
}

div.chat li div.message:after{
    position: absolute;
    top:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);

}
div.chat li.user div.message:after{
    float: left;
    content: "\f0d9";
    position: absolute;
    left:-4px;
    width: 10px;
    height: 17px;
    color: #A7DBD8;
}

div.chat li.user div.message {
    background: #A7DBD8;
    margin-right: 65px;
}


div.chat li.me div.message:after{
    float: left;
    right:-10px;
    width: 10px;
    height: 17px;
    content: "\f0da";
    color: #E0E4CC;
}

div.chat li.me div.message {
    margin-left: 25px;
    margin-right: 45px;
    background: #E0E4CC;
}


div.chat li span.time{
    top: 2px;
    position: relative;
}

div.chat > div.message-input {
    position: absolute;
    bottom: -40px;
}