<div class="panel panel-default" style="margin-bottom:0;height: 600px">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <i class="fa" ng-class="status.cls"></i> {{status.display}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="stat in statusList">
                    <a href ng-click="$parent.status=stat">
                        <i class="fa" ng-class="stat.cls"></i> {{stat.display}}
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <ul class="list-unstyled" >
        <li class="list-group-item" style="border:0"
            ng-repeat="user in userlist"
            ng-if="user.id != curr._id"
            ng-show="status.value < 0 || status.value == user.status">
            <i class="fa fa-circle" ng-class="{'text-success': user.status == 1, 'text-muted': user.status == 0}"></i>
            {{user.username}}
            <a ng-show="user.status == 1" class="pull-right" href ng-click="sendTo({to: user})">
                <i class="fa fa-comments"></i>
            </a>

        </li>
    </ul>
</div>


