<div class="online-list">
    <div class="userlist-box" ng-show="!chatting">
        <div class="head">
            <i class="fa fa-user"></i> 用户列表

        </div>

        <ul class="list-unstyled">
            <li
                ng-repeat="user in userlist"
                ng-if="user.id != curr._id">
                <img class="gravatar" ng-src="{{user.avatar}}">
                <div class="content"  ng-click="showChatPanel(user)">
                    <span >{{user.username}}</span>
                    <span class="last-message">{{user.status}}</span>
                </div>
                <a class="tools" ng-show="user.status == 1" class="pull-right" href ng-click="showChatPanel(user)">
                    <i class="fa fa-comments"></i>
                </a>

            </li>
        </ul>
    </div>
    <div class="chat-box" ng-show="chatting">
        <div class="head">
            <i class="fa fa-comments"></i> {{toUser.username}}
            <a href ng-click="hideChatPanel()">
                <small class="text-muted pull-right"><i class="fa fa-times"></i></small>
            </a>
        </div>
        <user-chat message="message" name="false" sender="sendMsg(msg)"></user-chat>
    </div>

</div>