<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments"></i><span class="text-info"> {{toUser.username}} </span>
        <a href ng-click="goBack()"><small class="text-muted pull-right"><i class="fa fa-reply"></i></small></a>
    </div>
    <div class="panel-body">
        <div class="item" ng-repeat="msg in messages[toUser.id]">
            <p class="message">
               <div class="text-info">
                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{::msg.time | date:'hh:MM:ss'}}</small>
                    {{::msg.from.username}}
                </div>


                <div>
                    {{::msg.content}}
                </div>

            </p>
        </div>
    </div>
    <div class="panel-footer">
        <input class="form-control" ng-model="messageInput" placeholder="输入消息...">
    </div>
</div>