<link rel="stylesheet" href="components/navbar/navbar.css"/>
<div id="nav-main" ng-controller="NavbarCtrl">
    <a href="/home" class="logo">
        LuckStar
    </a>


    <ul class="menu">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <span ng-click="goto(item)">
                <!--<i class="fa" ng-class="item.icon"></i><br/>-->
                {{item.title}}
            </span>
        </li>
    </ul>

    <ul class="user-info">
        <li>
            <span href class="dropdown-toggle" data-toggle="dropdown" ng-if="getCurrentUser().username">
                <i class="fa fa-user"></i> {{ getCurrentUser().username }}({{ getCurrentUser().point }})
            </span>
        </li>
        <li>
            <span href ng-click="logout()"><i class="fa fa-sign-out"></i> 注销</span>
        </li>

    </ul>
</div>

