section#room-page md-toolbar.room-head img.avatar {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
}
section#room-page md-toolbar.room-head span.role {
  text-align: center;
}
