section#room-page {
  height: 100%;
  position: relative;
}
@media (min-width: 768px) {
  section#room-page {
    margin: 0 8px;
  }
}
section#room-page > header {
  margin: 8px 0;
}
section#room-page > header img.avatar {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}
section#room-page > header span.role {
  text-align: center;
}
section#room-page > section.room-body div.room-body-complete {
  margin: 8px 0;
}
section#room-page > .room-foot {
  height: 120px;
  width: 100%;
  margin: 5px 0;
}
section#room-page > .room-foot:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
