<section id="login-page" ng-cloak ng-controller="userLoginCtrl">
  <div class="md-title">用户登录</div>
  <md-content>
    <form autocomplete="off" name="loginForm" ng-submit="login()" novalidate>
      <md-input-container class="md-icon-float md-block">
        <label>用户名</label>
        <md-icon aria-label="用户名图标" class="name">person</md-icon>
        <input ng-model="user.username" type="text" name="username" required minlength="5" maxlength="15">
        <div ng-messages="loginForm.username.$error" role="alert">
          <div ng-message="required">
            请填写用户名
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            用户名长度5-15个字.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>密码</label>
        <md-icon aria-label="密码图标">lock</md-icon>
        <input ng-model="user.password" type="password" required minlength="5" maxlength="15" name="password">
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message="required">
            请填写密码
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            密码长度5-15个字.
          </div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary">登录</md-button>
      <md-button class="md-raised" ng-click="reset()">重置</md-button>
      <md-button ng-click="toSignup()" class=" md-caption md-primary">注册新用户</md-button>
    </form>
  </md-content>
</section>