#signup-page .loading {
  position: absolute;
  right: -10px;
  top: 10px;
}
#signup-page .avatar-selection span {
  display: inline-block;
  padding: 5px;
  border: 1px dashed #f2e3d0;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
}
#signup-page .avatar-selection span:hover {
  border-color: #0775e3;
}
#signup-page .avatar-selection span.actived {
  background: #0775e3;
  border-color: #0775e3;
}
#signup-page .avatar-selection span .avatar {
  width: 50px;
  height: 50px;
}
#signup-page .error {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #f88d00;
  color: #f88d00;
}
