@import "common";

div.room {
  .flex-column;

  .border-radius(10);
  height : 100%;

  > .head {
    .display(flex);
    .align-items(center);
    .justify-content(space-between);
    padding       : 10px;
    border-bottom : 1px solid #fff;
    a{
      .flex(0 0 1em);
      .fa-power-off {
        &:hover {
          background-color : #f38630;
          color            : #fff;
          border-radius    : 30px;
          padding          : 2px;
        }
      }
    }

    font-size   : 20px;
    font-weight : bold;

  }
  > .body {
    .flex-column;
    .flex(1);
    .display(flex);
    .justify-content(space-between);
  }
  > .foot {

    padding : 4px;
    .bg-fff;
    .border-radius(5);
    //.flex(0 0 14em);
    .display(flex);
    .justify-content(space-bettween);
    .chat {
      width : 100%;
    }
  }
}