div.room {
}

div.room ul.user-list li{
    border: 1px solid #ddd;
    color:#999;
    margin-right : 10px;
    width: 85px;
    height: 85px;
}


div.room ul.user-list li img{
    width: 50px;
    height: 45px;
}


div.room div.room-complete {
    height: 300px;
}
div.room div.room-chat {
    height: 200px;
}
