@import (reference) "common";

div#complete {

  .flex-center;

  div.topic-panel-wrapper{
    position: relative;
    cursor: pointer;
    .pointer {
      position: absolute;
      font-size: 20px;
      z-index: 1001;
    }
  }


  //> .compete-record {
  //  width: 100%;
  //  .display(flex);
  //  .justify-content(center);
  //
  //  span.record {
  //    margin: 5px 5px;
  //    font-size: 20px;
  //    color: #fff;
  //    &.correct {
  //      color: #68ca12;
  //    }
  //    &.incorrect {
  //      color: #e73214;
  //    }
  //    &.current {
  //      .animation(2s 1s flash infinite);
  //      color: #faf500;
  //    }
  //    &.passive {
  //      color: #a6a6a6;
  //    }
  //
  //    &:ng-enter {
  //      .animated;
  //      .fadeIn;
  //    }
  //  }
  //
  //}
}

