<link rel="stylesheet" href="rooms/room.css"/>
<div class="room" ng-if="room">
    <div class="head">
        <span class="title text-success" ng-bind="room.title">
       </span>
        <span class="text-danger" ng-bind="getRole()"></span>
        <a href ng-click="leave(room.id)" comfirm="是否要退出房间, 管理员退出房间将会被关闭.">
            <span class="text-muted pull-right"><i class="fa fa-power-off"></i></span>
        </a>
    </div>
    <div class="body">
        <div ng-include="'rooms/header/room-header.html'"></div>
        <div ng-include="'rooms/room-compete.html'"></div>
    </div>


    <div class="foot">
        <room-message style="width: 100%"></room-message>
    </div>
</div>