div#complete {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
div#complete div.topic-panel-wrapper {
  position: relative;
  cursor: pointer;
}
div#complete div.topic-panel-wrapper .pointer {
  position: absolute;
  z-index: 1001;
}
