@import "common";

#dialog-box {

  position : fixed;
  width   : 328px;

  &.center {
    top  : 40%;
    left : 40%;
    &.bounceIn.ng-enter {
      .animated;
      .bounceInDown;
    }

    &.countdown {
      width: auto;
      font-size: 3em;
      .message-box{
        .border-radius(50%);
        .content{
          width: 80px;
          height: 80px;
          p{
            margin-top: 16px;
            padding: 0;
          }
        }

      }
      &.ng-enter {
        .animated;
        .zoomIn;
      }
    }
  }

  &.right {
    right : 10px;
    top   : 50px;
    &.bounceIn.ng-enter {
      .animated;
      .bounceInRight
    }
    &.bounceIn.ng-leave {
      .animated;
      .zoomOutRight;
    }
    .message-box {
      .foot {
        padding : 10px;
      }
      .content {
        min-height : auto;
      }
    }
  }

  .message-box {
    padding : 5px;

    z-index : 999;
    .shadow;
    .bg-fff;
    .border-radius(5px);
    .head {
      padding  : 5px;
      position : relative;
      .close {
        position : absolute;
        right    : 10px;
        top      : 5px;
      }
    }

    .content {
      text-align : center;
      padding    : 0 10px;
      p{
        .display(inline-flex);
      }
    }
    .foot {
      text-align : center;
      padding    : 20px 0;
      a.button {
        margin      : 0 30px;
        padding     : 10px 20px;
        color       : #fff;
        font-weight : bold;
        cursor      : pointer;
      }
    }

    &.error {
      color      : #a94442;
      background : #f2dede;
      border     : 1px solid #ebccd1;
    }
  }

}