<link rel="stylesheet" href="components/utils/message/message.css"/>
<div id="dialog-box" ng-class="position" >
    <div class="message-box" ng-repeat="msg in messages" ng-class="msg.cls">
        <div class="head">
            <div class="title"><i class="fa " ng-class="msg.icon"></i> {{msg.title}} </div>
            <i class="fa fa-times close" ng-click="dismis($index)"></i>
        </div>

        <div class="content" ng-bind="msg.content">
        </div>
        <div class="foot">
            <a ng-if="msg.ok" ng-click="msg.ok($index)" class="button btn-success">确认</a>
            <a ng-if="msg.cancel" ng-click="msg.cancel($index)" class="button btn-info">取消</a>
        </div>
    </div>
</div>