<link rel="stylesheet" href="components/utils/message/message.css"/>
<div id="dialog-box" class='{{message.animation +" "+message.position}}' ng-if="message">
    <div class="message-box" >
        <div class="head" ng-if="message.title">
            <div class="title">{{message.title}} </div>
            <i class="fa fa-times close" ng-click="dismis()"></i>
        </div>

        <div class="content"  >
            <i class="fa " ng-class="message.icon" ng-if="message.icon"></i>
            <p ng-bind-html="::message.content"></p>
        </div>
        <div class="foot" ng-if="message.ok || message.cancel">
            <a ng-if="message.ok" ng-click="message.ok()" class="button btn-success" ng-bind="message.okText"></a>
            <a ng-if="message.cancel" ng-click="message.cancel()" class="button btn-info" ng-bind="message.cancelText"></a>
        </div>
    </div>
</div>