<section id="roomcompete-page" ng-controller="roomCompeteCtrl" layout layout-align="center center">
  <topic-panel topic="topic" typeable='true' checkable='true' themeable='true' flex="100" flex-sm="80" flex-gt-sm="60"
               ng-show="room.status === 1 && topic.id"></topic-panel>
  <div class="compete-countdown" ng-if="room.status === 1 && countdown > 0">
    <h1 class="md-display-3">{{countdown}}</h1>
  </div>
  <room-statistic class="roomstat" ng-if="room.status === 0"
                  room="room"  flex="100"
                  flex-sm="80" flex-gt-sm="60"></room-statistic>
  <!--</div>-->
</section>
