@import (reference) "common";

div#complete {

  .flex-center;

  div.topic-panel-wrapper{
    position: relative;
    cursor: pointer;
    .complete-countdown{
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      font-size: 200px;
      z-index: 100;
      text-align: center;
      &.ng-hide-remove{
        .animated;
        .zoomIn;
      }
    }
    .pointer {
      position: absolute;
      z-index: 1001;
    }
  }
}

