@import (reference) "common";

div#room-tools {
  ul {
    li{
      cursor: pointer;
      position: relative;

      i{
        position: absolute;
        font-size: 1.5em;
        z-index: 102;
        right: .5em;
        top: .5em;
        padding: 2px;
        &:hover{
          background-color: #f38630;
          color: #fff;
        }
      }
      p{
        transition: .4s;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        opacity: 0;

        &.actived{
          opacity: 1;
          z-index: 101;
          width: 400px;
          height: 260px;
          background: lighten(#767676, 20%);
          color: #fff;
          padding: 10px;

          .border-radius(5);
        }
      }
    }
  }
}
