
<div class="statistics" ng-if="stats && stats.totalNum > 0">
    <header class="page-header" style=" margin-bottom: 0;border-bottom: 0;">统计信息</header>
    <table class="table">
        <tr>
            <td style="width: 100px">答题数量:</td>
            <td>{{stats.currNum + 1}} / {{stats.totalNum}}</td>
        </tr>
        <tr>
            <td style="width: 100px">正确题数:</td>
            <td>{{stats.correctNum}}</td>
        </tr>
        <tr>
            <td style="width: 100px">错误题数:</td>
            <td>{{stats.incorrectNum}}</td>
        </tr>
        <tr>
            <td style="width: 100px">超时题数:</td>
            <td>{{stats.timeoutNum}}</td>
        </tr>
        <tr>
            <td style="width: 100px">获得积分:</td>
            <td>
                {{stats.point}}分
                <span ng-if="pointplus" class="fade text-success">+10</span>
                <span ng-if="pointsub" class="fade text-danger">-10</span>
            </td>
        </tr>
    </table>

</div>
