.container header nav{
    background-color: #3c8dbc;
}

.container .well{
    min-height: 400px;
    position: relative;;
}

.container .options a:hover {
    background: #777;
    color: #fff;
    padding: 5px 20px;
}


.container .options a.checked {
    background: #29589B;
    color: #fff;
    padding: 5px 20px;
}

.container .options a{
    text-decoration: none;
    /*color: #404040;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    line-height: 30px;
}


.fade.ng-enter {
    animation: showup 1.5s linear;
    position: relative;
    /*transition:2s linear all;*/
    /*opacity:0;*/
}

@keyframes showup {
    from { top:40px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

/*.container .topic-panel {*/
    /*width: 100%px;*/
    /*height: 100%px;*/
    /*position: relative;*/
    /*perspective: 800px;*/
/*}*/
