@import "common";
#dialog-box{


  &.ng-hide-remove{
    .animated;
    .bounceInDown;
  }
  width: 328px;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 999;
  .shadow;
  .bg-fff;
  .border-radius(5px);

  .close{
    position: relative;
    right: 10px;
    top: 5px;
  }
  .dialog-content {
    text-align: left;
    padding: 30px;
    color: #666;
    min-height: 150px;
    .display(flex);
    .flex-direction(column);

    #dialog-message{
      .flex(1);
    }
    .toolbar{
      text-align: center;
      margin: 20px auto 0 auto;
      a.button{
        margin: 0 30px;

        padding: 10px 20px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;

      }
    }

  }
}