<md-dialog aria-label="创建对战房间" >

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>创建房间</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <md-content layout-padding>
      <form name="roomForm" novalidate autocomplete="off">
        <md-input-container md-no-float layout>
          <div flex="20">
            <span class="md-body-1">标题</span>
          </div>
          <input flex md-no-asterisk  name="title" ng-model="newroom.title" placeholder="房间标题" maxlength="15">
        </md-input-container>
        <md-slider-container>
          <div flex="20" layout layout-align="center center">
            <span class="md-body-1">人数</span>
          </div>
          <md-slider md-discrete ng-model="newroom.number" min="1" max="5" aria-label="参赛人数"></md-slider>
          <md-input-container>
            {{newroom.number}}人
          </md-input-container>
        </md-slider-container>
        <md-input-container md-no-float layout>
          <div flex="20">
            <span class="md-body-1">观众</span>
          </div>
          <md-checkbox flex ng-model="newroom.observable"  ng-true-value="1"
                       ng-false-value="0" aria-label="观众选项"></md-checkbox>
        </md-input-container>

      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="save()" class="md-primary md-raised">
      创建房间
    </md-button>
    <md-button ng-click="close()" style="margin-right:20px;">
      取消
    </md-button>
  </md-dialog-actions>

</md-dialog>
