body {
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .login,
body .signup {
  font-size: 1.5em;
}
body .login md-icon.name,
body .signup md-icon.name {
  color: dodgerblue;
}
body .login md-icon.email,
body .signup md-icon.email {
  color: green;
}
body .login .md-title,
body .signup .md-title {
  margin: 15px 0;
}
body #signup-page .loading {
  position: absolute;
  right: -10px;
  top: 10px;
}
body #signup-page md-input-container.face md-whiteframe {
  display: block;
  margin: 2px;
}
body #signup-page md-input-container.face md-whiteframe.errorFrame {
  border: 2px solid #dd2c00;
}
body #signup-page md-input-container.face md-whiteframe.errorFrame .md-subheader {
  color: #dd2c00;
}
body #signup-page md-input-container.face md-whiteframe img.avatar {
  border: 1px solid #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
body #signup-page md-input-container.face md-whiteframe img.avatar:hover {
  border-color: dodgerblue;
}
body #signup-page md-input-container.face md-whiteframe img.avatar.actived {
  border-color: dodgerblue;
}
