<section class="unauth-page" layout="column" layout-padding flex-xs="95" flex-gt-xs="55" flex-gt-md="35">
  <div class="md-subhead">
    <img src="libs/images/logo.gif" class="logo"/>
    <b>
      |
      <span ng-if="status === 'login'">登录</span>
      <span ng-if="status === 'signup'">注册新用户</span>
    </b>
  </div>
  <div ng-include="'/users/auth/login.html'" class="login" ng-if="status === 'login'"></div>
  <div ng-include="'/users/auth/signup.html'" class="signup" ng-if="status === 'signup'"></div>
</section>
